.DS_Store

Library/
Temp/
CleanUpRuniOS/
.svn/

build-nonauto/user/

*.sln
*.ipa
*.csproj
*.pidb
*.userprefs
*.unityproj
*.onetoc2*

build.log

com.adobe.*
*.swfoptions*
Assets/*html*
.project
.actionscriptproperties
AuthorTime*